@page
@model SPortal.Web.Pages.Admin.MStudents.NewStudentModel
@using Sportal.Models;
@{
    ViewData["Title"] = "NewStudent";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}



<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 clear-padding-xs">
            <h5 class="page-title"><i class="fa fa-user"></i>ADD STUDENT</h5>
            <div class="section-divider"></div>
        </div>
    </div>
    <form method="post" asp-validation-summary="ModelOnly" class="text-danger" enctype="multipart/form-data">
        <div class="row">
            <div class="col-lg-12 clear-padding-xs">
                <div class="col-md-12">
                    <div class="dash-item first-dash-item">
                        <h6 class="item-title"><i class="fa fa-user"></i>STUDENT INFO</h6>
                        <div class="inner-item">
                            <div class="dash-form">
                                <div class="col-sm-3">
                                    <label asp-for="Student.FirstName" class="clear-top-margin"><i class="fa fa-user-circle-o"></i>FIRST NAME</label>
                                    <input asp-for="Student.FirstName" type="text" placeholder="JOHN" />
                                    <span asp-validation-for="Student.FirstName" class="text-danger"></span>
                                </div>
                                <div class="col-sm-3">
                                    <label asp-for="Student.OtherNames" class="clear-top-margin"><i class="fa fa-user-circle-o"></i>MIDDLE NAME</label>
                                    <input asp-for="Student.OtherNames" type="text" placeholder="FIDLER" />
                                    <span asp-validation-for="Student.OtherNames" class="text-danger"></span>
                                </div>
                                <div class="col-sm-3">
                                    <label asp-for="Student.LastName" class="clear-top-margin"><i class="fa fa-user-circle-o"></i>LAST NAME</label>
                                    <input asp-for="Student.LastName" type="text" placeholder="DOE" />
                                    <span asp-validation-for="Student.LastName" class="text-danger"></span>
                                </div>
                                <div class="col-sm-3">
                                    <label asp-for="Student.Gender" class="clear-top-margin"><i class="fa fa-venus"></i>GENDER</label>

                                    <select asp-for="Student.Gender" asp-items="Html.GetEnumSelectList<Gender>()">

                                        <option>Select</option>
                                    </select>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-sm-3">
                                    <label asp-for="Student.DateOfBirth"><i class="fa fa-calendar"></i>DATE OF BIRTH</label>
                                    <input asp-for="Student.DateOfBirth" type="text" id="studentDOB" placeholder="MM/DD/YYYY" />
                                    <span asp-validation-for="Student.DateOfBirth" class="text-danger"></span>
                                </div>
                                <div class="col-sm-3">
                                    <label asp-for="Student.PhoneNumber"><i class="fa fa-phone"></i>PHONE #</label>
                                    <input asp-for="Student.PhoneNumber" type="text" placeholder="1234567890" />

                                    <span asp-validation-for="Student.PhoneNumber" class="text-danger"></span>
                                </div>
                                <div class="col-sm-3">
                                    <label asp-for="Student.Email"><i class="fa fa-envelope-o"></i>EMAIL</label>
                                    <input asp-for="Student.Email" type="text" placeholder="john@pathshala.com" />
                                    <span asp-validation-for="Student.Email" class="text-danger"></span>
                                </div>
                                <div class="col-sm-3">
                                    <label asp-for="Student.Religion"><i class="fa fa-bell-o"></i>RELIGION</label>
                                    <select asp-for="Student.Religion" asp-items="Html.GetEnumSelectList<ReligionEnum>()"></select>
                                </div>
                                <div class="col-sm-3">
                                    <label asp-for="Student.Country"><i class="fa fa-envelope-o"></i>Country</label>
                                    <input asp-for="Student.Country" type="text" placeholder="USA" />
                                    <span asp-validation-for="Student.Country" class="text-danger"></span>
                                </div>
                                <div class="col-sm-3">
                                    <label asp-for="Student.StateOfOrigin"><i class="fa fa-envelope-o"></i>State</label>
                                    <input asp-for="Student.StateOfOrigin" type="text" placeholder="USA" />
                                    <span asp-validation-for="Student.StateOfOrigin" class="text-danger"></span>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-sm-3">
                                    <label><i class="fa fa-file-picture-o"></i>UPLOAD PHOTO</label>
                                    <input type="file" asp-for="Image" placeholder="90890" />
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="dash-item">
                        <h6 class="item-title"><i class="fa fa-user-secret"></i>PARENT INFO</h6>
                        <div class="inner-item">
                            <div class="dash-form">
                                <div class="col-sm-3">
                                    <label class="clear-top-margin"><i class="fa fa-user-circle-o"></i>FATHER NAME</label>
                                    <input type="text" placeholder="JOHN" />
                                </div>
                                <div class="col-sm-3">
                                    <label class="clear-top-margin"><i class="fa fa-user-circle-o"></i>MOTHER NAME</label>
                                    <input type="text" placeholder="LENNORE" />
                                </div>
                                <div class="col-sm-3">
                                    <label class="clear-top-margin"><i class="fa fa-briefcase"></i>OCCUPATION</label>
                                    <select>
                                        <option>-- Select --</option>
                                        <option>Teacher</option>
                                        <option>Doctor</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label class="clear-top-margin"><i class="fa fa-phone"></i>CONTACT #</label>
                                    <input type="text" placeholder="1234567890" />
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-sm-3">
                                    <label><i class="fa fa-phone"></i>ALTERNATE CONTACT #</label>
                                    <input type="text" placeholder="1234567890" />
                                </div>
                                <div class="col-sm-3">
                                    <label><i class="fa fa-envelope-o"></i>EMAIL</label>
                                    <input type="text" placeholder="john@pathshala.com" />
                                </div>
                                <div class="col-sm-3">
                                    <label><i class="fa fa-bell-o"></i>RELIGION</label>
                                    <select>
                                        <option>-- Select --</option>
                                        <option>Buddhism</option>
                                        <option>Christian</option>
                                        <option>Hinduism</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label><i class="fa fa-flag"></i>NATIONALITY</label>
                                    <select>
                                        <option>-- Select --</option>
                                        <option>Canadian</option>
                                        <option>Indian</option>
                                    </select>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-sm-3">
                                    <label><i class="fa fa-home"></i>ADDRESS</label>
                                    <input type="text" placeholder="H/N 42 Street# 10" />
                                </div>
                                <div class="col-sm-3">
                                    <label><i class="fa fa-flag"></i>COUNTRY</label>
                                    <select>
                                        <option>-- Select --</option>
                                        <option>Canada</option>
                                        <option>India</option>
                                        <option>Japan</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label><i class="fa fa-id-card"></i>STATE</label>
                                    <select>
                                        <option>-- Select --</option>
                                        <option>British Columbia</option>
                                        <option>Ontario</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label><i class="fa fa-code"></i>ZIP</label>
                                    <input type="text" placeholder="90890" />
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-sm-3">
                                    <label><i class="fa fa-file-picture-o"></i>UPLOAD PHOTO</label>
                                    <input type="file" placeholder="90890" />
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="dash-item">
                        <h6 class="item-title"><i class="fa fa-book"></i>ACADEMIC INFO</h6>
                        <div class="inner-item">
                            <div class="dash-form">
                                <div class="col-sm-3">
                                    <label asp-for="Student.RegNo" class="clear-top-margin"><i class="fa fa-id-card"></i>REGISTRATION #</label>
                                    <input asp-for="Student.RegNo" type="text" placeholder="PTH2017001" />
                                </div>
                                <div class="col-sm-3">
                                    <label  class="clear-top-margin"><i class="fa fa-book"></i>CLASS</label>
                                    <select onchange="getSections(this.value);" asp-items="Model.DClassess">
                                        <option>-- Select --</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label class="clear-top-margin"><i class="fa fa-cogs"></i>SECTION</label>
                                   @* <a asp-page="../../DynamicData/Sections">Delete</a>*@
                                    <select id="ddlsection" asp-for="Student.SectionID" asp-items="Model.Sections">

                                        <option>-- Select --</option>
                                        
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label class="clear-top-margin"><i class="fa fa-puzzle-piece"></i>ROLL #</label>
                                    <input type="text" disabled placeholder="PTH05A01" />
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-sm-3">
                                    <label><i class="fa fa-graduation-cap"></i>LAST SCHOOL</label>
                                    <input type="text" disabled placeholder="ABC SCHOOL" />
                                </div>
                                <div class="col-sm-3">
                                    <label><i class="fa fa-star"></i>LAST STD</label>
                                    <input type="text" disabled placeholder="4 STD" />
                                </div>
                                <div class="col-sm-3">
                                    <label><i class="fa fa-code"></i>MARKS OBTAINED</label>
                                    <input type="text" disabled placeholder="76%" />
                                </div>
                                <div class="col-sm-3">
                                    <label><i class="fa fa-futbol-o"></i>SPORTS</label>
                                    <select disabled>
                                        <option>-- Select --</option>
                                        <option>Cricket</option>
                                        <option>Football</option>
                                        <option>Tenis</option>
                                    </select>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-sm-3">

                                    <button value="save" class="btn btn-warning btn-lg" style="margin-top:20px;" type="submit">

                                        <i class="fa fa-paper-plane"></i>
                                        Submit
                                    </button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>


    function getSections(id) {
        //alert("started" + id);
        $.getJSON("https://localhost:5001/DynamicData/Sections?id=" + id,
            function (result) {
                // alert('Done');
                $('#ddlsection').empty();
                $('#ddlsection').append($('<option>').text("Select"));
                $.each(result, function (i, obj) {

                    $('#ddlsection').append($('<option>').text(obj.name).attr('value', obj.value));
                });
                console.log(result);
            })
            .fail(function (error) {
                // alert('Done');
                console.log(error);
            });
    };

   
    

</script>

