@page
@model SPortal.Web.Pages.DynamicData.SectionsModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sections</title>
</head>
<body>
</body>
</html>
